# Movie Rating Prediction Model

## Khám phá dữ liệu phục vụ cho việc tiền xử lý

### Import các thư viện

In [2]:
import numpy as np
import pandas as pd

In [3]:
!pwd

/home/duyhoang/Downloads/TH NMKHDL/IMDB /notebooks

### Load vào dữ liệu thô

In [4]:
file_path = "../data/raw/IMDB_movies_final.csv"
df = pd.read_csv(file_path)
df

,rank,title,genres,budget,release_year,run_time,mpa,metascore,vote_count,rating
0,1,Frankenstein,"Drama, Fantasy, Horror, Sci-Fi","$120,000,000 (estimated)",2025.0,2h 29m,R,77.0,(132K),7.6
1,2,One Battle After Another,"Action, Crime, Drama, Thriller","$130,000,000 (estimated)",2025.0,2h 41m,R,95.0,(163K),8.0
2,3,The Running Man,"Action, Adventure, Sci-Fi, Thriller","$110,000,000 (estimated)",2025.0,2h 13m,R,56.0,(17K),6.7
3,4,Predator: Badlands,"Action, Adventure, Sci-Fi, Thriller","$105,000,000 (estimated)",2025.0,1h 47m,PG-13,71.0,(38K),7.5
4,5,Playdate,"Action, Comedy","$17,525",2025.0,1h 33m,PG-13,20.0,(10K),5.5
...,...,...,...,...,...,...,...,...,...,...
10043,10046,Return of the Living Dead III,Horror,"$2,000,000 (estimated)",1993.0,1h 37m,NaN,47.0,(18K),5.9
10044,10047,Sweetness,Thriller,NaN,2025.0,1h 33m,NaN,NaN,(81),6.8
10045,10048,Dark Harvest,"Fantasy, Horror",NaN,2023.0,1h 36m,R,51.0,(10K),5.5
10046,10049,Across the River and Into the Trees,"Drama, Romance, War",NaN,2022.0,1h 46m,NaN,63.0,(1K),6.6
10047,10050,Below,"Action, Horror, Mystery, Thriller","$40,000,000 (estimated)",2002.0,1h 45m,R,55.0,(26K),6.1